{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/main.css') }}">
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="{{ asset('bundles/app/css/bootstrap.css') }}" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="{{ asset('bundles/app/css/font-awesome.min.css') }}" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="{{ asset('bundles/app/css/font-awesome-animation.css') }}" rel="stylesheet" />
       <!-- CUSTOM STYLE CSS -->
    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
{% endblock %}

{% block header_javascripts %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">THANHNHAN DIGITAL</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home-sec">HOME</a></li>
                    <li><a href="#technology-sec">TECHNOLOGY</a></li>
                     <li><a href="#products-sec">PRODUCTS</a></li>
                    <li><a href="#contact-sec">CONTACT</a></li>
                </ul>
            </div>
           
        </div>
    </div>
    <!--END NAV SECTION -->
    
    {% block section %}{% endblock %}

    <!--FOOTER SECTION -->
    <div id="footer">
        2016 www.thanhnhandigital.com | All Right Reserved  
         
    </div>
    <!-- END FOOTER SECTION -->
{% endblock %}
{% block javascripts %}
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="{{ asset('bundles/app/plugins/jquery-1.10.2.js') }}"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="{{ asset('bundles/app/plugins/bootstrap.js') }}"></script>
  
    <!-- CUSTOM SCRIPTS -->
    <script src="{{ asset('bundles/app/js/custom.js') }}"></script>

{% endblock %}
